body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.site-title {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

nav {
  background-color: #3c3c3c;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 10px 40px;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align the content to the top */
  align-items: flex-start; /* Align the content to the left */
  height: 100vh;
  padding-left: 40px; /* Add padding to the left side */
  padding-right: 40px; /* Add padding to the right side */
  padding-top: 100px; /* Add padding to the top */
}

main h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

footer {
  background-color: #3c3c3c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

footer p {
  margin: 0;
  font-size: 14px;
}
